[submodule "EssentialsBuilds"]
	path = EssentialsBuilds
	url = https://bitbucket.org/Pepperdash_Products/essentials-builds.git
[submodule "Essentials-Builds"]
	path = Essentials-Builds
	url = https://github.com/PepperDash/Essentials-Builds.git
	branch = release
