# Encrypt the repository
# Remove/modify this line if the repository is meant to be open-source
# *.* filter=git-crypt diff=git-crypt
# .gitattributes !filter !diff


*.zip binary
*.7z binary

*.zip filter=lfs diff=lfs merge=lfs -binary

